<html>
    <head>
        <title>Senha Incorreta</title>
    </head>
    <script>
        confirm('Senha Incorreta')
        window.location.replace('/room/<%= roomId %>')
    </script>
</html>