<section class="section">
    <h2>Crie sua Própria Sala</h2>
    <form action="/create-room" method="POST">
        <label 
        class="sr-only"
        for="room-password">
            Insira uma Senha
        </label>
        <input 
        type="password"
        name="password"
        id="room-password"
        placeholder="Insira uma Senha">
        <button class="button-create-room">
            <img 
            src="../../img/users-white.svg" 
            alt="Ícone de usuários">
            Criar Sala
        </button>
    </form>
</section>